*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
    
.header {
    display: flex;
    width: 90%;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
}

.pages ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pages ul li{
    margin-right: 50px;
}

.pages ul li a{
    color: black;
    text-decoration: none;
}

.pages ul li a:hover{
    /* font-weight: bold; */
    text-decoration: underline;
}